/*
04/21/2011
*/
* {
	padding: 0;
	border: 0;
    font-size: 13px;
    color: #666666;
    font-family: Verdana;
}

body {
	/*font-size: 67.5%;*/
	width: 90%;
    margin: 5% auto;
    background: #FBFBFB;

    /*, #F5F5F5) repeat;*/
    /*scroll 0 0 transparent;*/

}



#albums{
    width: 40%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
select{
   width: 100%;
   /*font-size: 16px;*/
   border: 1px solid #ccc;
   /*margin-left: 20px;*/
}

option {
    padding-top: 2px;
    padding-bottom: 2px;
}



.details{
    float:left;
    width: 40%;
   margin-top: 12px;
    margin-left: 20px;
    /*font-size: 10px;*/
}



.title{
    text-transform: uppercase;
    display: block;
    color: #000000;
}
#categories {
	/*margin-top: 10px;*/
	width: 15%;
	background-color: #d4dbe3;
    float:left;
}

ul {
	list-style-type: none;
	/*margin-top: 4px;*/
	/*margin-bottom: 4spx;*/
}

ul li {
	text-transform: none;
	text-indent: 20px;
    height: 22px;
	/*padding-top: 2px;*/
}
ul li.selected, option:checked {
	background-image: url(selected_background.gif);
	background-repeat: repeat-x;
	/*width: 225px;*/
	font-weight: bold;
    color: white;
}


ul li:hover, option:hover {
	background-image: url(selected_background_rollover.gif);
	color: white;
    cursor: pointer;
}

#header{
    font-size: 24px;
}