<!--
04/21/2011
-->

<link rel="stylesheet" type="text/css" href="stylesheets/itunes.css"/>
<script type="text/javascript" src="javascripts/itunes.js"></script>

<span id="header">iTunes Music</span>
<div id="menu">
<ul class="categories" id="categories">
  <span class="title">Genre</span>

  <!--<li>Categories:</li>-->
  <li class="category"  href="http://itunes.apple.com/us/rss/topalbums/genre=2/limit=50/xml">Blues</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=3/limit=50/xml">Comedy</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=4/limit=50/xml">Children's Music</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=5/limit=50/xml">Classical</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=6/limit=50/xml">Country</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=7/limit=50/xml">Electronic</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=8/limit=50/xml">Holiday</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=9/limit=50/xml">Opera</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=10/limit=50/xml">Singer/Songwriter</li>
  <li class="category" href="http://itunes.apple.com/us/rss/topalbums/genre=1/limit=50/xml">Top Albums</li>
</ul>
</div>

<div id="albums">
<span class="title">Albums</span>
<select size="15" id="topics" class="topics" onchange="javascript:showDetail(event)">
  <option value="">Loading...</option>
</select>
</div>

<div class="details">
  <span class="title">Details</span>

  <div id="details">
  </div>
</div>

