<!--
04/21/2011
-->
<style type="text/css">
        /*div { padding-bottom:5px; }*/
    span.help {
        color: #AA0000;
        font-style: italic;
        float: left;
    }

    .enterLabel {
        width: 200px;
        float: left;
    }

    input {
        float: left;
        width: 200px;
    }

    /*#zipcode_help {*/
        /*color: green;*/
    /*}*/
</style>

<script type="text/javascript" src="javascripts/validatekit.js"></script>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('something').focus();
    }
    function handleCityStateRequest() {
        if (request.readyState == 4 && request.status == 200) {
            // Store the XML response data
            var xmlData = request.responseXML;

            // Display the city/state results
            if (xmlData != null && getText(xmlData.getElementsByTagName("CITY")[0]) != "")
                document.getElementById("zipcode_help").innerHTML = "<span style='font-weight:bold'>" +
                        getText(xmlData.getElementsByTagName("CITY")[0]) + ", " +
                        getText(xmlData.getElementsByTagName("STATE")[0]) + "</span>";
            else
                document.getElementById("zipcode_help").innerHTML = "Could not find the ZIP code.";
        }
        ajaxUpdateState();
    }

    function getCityState(zipCode) {
        // Display the wait image
        document.getElementById("zipcode_help").innerHTML = "<img src='images/wait.gif' alt='Looking up ZIP code...' />";

        // Send the Ajax request to load the city/state
        ajaxSendRequest("GET", "zip_code_validator?zipCode=" + zipCode, handleCityStateRequest);
    }

</script>

<div id="ajaxState" style="display:none; font-style:italic"></div>
<br/>
<p>
  <span class="enterLabel">Enter something:</span>
  <input id="something" type="text" onblur="validateNonEmpty(this, document.getElementById('something_help'))"/>
  <span id="something_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter an age:</span>
  <input id="age" type="text" size="4" onblur="validateAge(this, document.getElementById('age_help'))"/>
  <span id="age_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter a number:</span>
  <input id="number" type="text" onblur="validateNumber(this, document.getElementById('number_help'))"/>
  <span id="number_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter a phone number:</span>
  <input id="phone" type="text" onblur="validatePhone(this, document.getElementById('phone_help'))"/>
  <span id="phone_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter an email address:</span>
  <input id="email" type="text" onblur="validateEmail(this, document.getElementById('email_help'))"/>
  <span id="email_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter a date:</span>
  <input id="date" type="text" onblur="validateDate(this, document.getElementById('date_help'))"/>
  <span id="date_help" class="help"></span>
</p>
<br/>
<p>
  <span class="enterLabel">Enter a ZIP code:</span>
  <input id="zipcode" type="text" size="16"
         onblur="if (validateZipCode(this, document.getElementById('zipcode_help'))) getCityState(this.value);"/>
  <span id="zipcode_help" class="help"></span>
</p>
